.account {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 100px;
}

.close {
  width: 100px;
}

table {
  border-collapse: collapse;
  width: 550px;
  margin: 0rem auto;
  background-color: white;
}

 /* 테이블 행 */
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #CDEDD7;
}

/* 테이블 비율 */
th:nth-child(1),
td:nth-child(1) {
  width: 30%;
}

th:nth-child(2),
td:nth-child(2) {
  width: 30%;
}

th:nth-child(3),
td:nth-child(3) {
  width: 30%;
}

.search {
  text-align: center;
}