.main {
  margin: auto;
}

.open {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.content {
  width: 30%;
  height: 20%;
  margin: auto;
  margin-top: 30px;
}

.content h5 {
  height: 50px;
  margin-top: 30px;
}


