.error-container{
  width: 1500px;
  /* height: 100%; */
  margin-left: 70px;
  justify-content: center;
  /* display: flex; */
}

.error-box{
  margin: 100px 0 30px 500px;
  font-family: 'Nanum Gothic', sans-serif;
  /* display: flex; */
}

.error-text{
  text-align: center;
  margin: 50px 0 300px 50px;
}