@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');


.error-container{
  width: 1500px;
  /* height: 100%; */
  margin-left: 70px;
  justify-content: center;
  /* display: flex; */
}

.error-box{
  margin: 80px 0 30px 580px;
  font-family: 'Nanum Gothic';
  /* display: flex; */
}

.error-box img{
  width: 400px;
  height: 400px;
}

.error-text{
  text-align: center;
  margin: 10px 0 100px 50px;
}