.error-container{
  width: 1500px;
  /* height: 100%; */
  margin-left: 70px;
  justify-content: center;
  /* display: flex; */
}

.error-box{
  /* margin-top: auto; */
  font-family: 'Nanum Gothic', sans-serif;
  /* display: flex; */
}

.error-text{
  text-align: center;
  margin-top: 50px;
}