


/* *{
  position: relative;
}

.modal-box{
  text-align: center;

}

.modal-back{
  border: 1px solid #137d34;
  width: 400px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0; 
  align-items: center;
  justify-content: center;
  background-color: #CDEDD7;
  text-align: center;
  display: flex;
  opacity: 0.7;
  border-radius: 20px;
  box-shadow: 2px 2px black;
  z-index: 1;
}

.modal-text{
  z-index: 1;
  
} */