@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');
/* font-family: 'Nanum Gothic', sans-serif; */

*{
  box-sizing: border-box;
  /* position: relative; */
}

.mypage{
  margin-top: 50px;
}

.mypage-container{
  /* position: sticky; */
  width: 100%;
  height: auto;
  justify-content: center;
  font-family: 'Nanum Gothic', sans-serif;
  /* display: flex; */
  margin: 50px -40px 50px -40px;
  /* align-items: center; */
  /* justify-content: center; */
  
}

.mypageBox1{
  width: 1441px;
  height: auto;
  margin-left: 150px;
  /* border: 1px solid red; */
    
}

.mybox-bigline{
  display: flex;
}

.solid{
  width: 100%;
  border: 5px solid lightgray;
  border-style: dashed;
}

/* .mypageBox2{
  width: 300px;
  height: 800px;
  margin-right: 150px;
  border: 1px solid red;

} */
 

.ezenSecurity{
  width: 100%;
  height: 250px;
  border-radius: 20px;
  margin-left: 50px;
  /* filter: drop-shadow(10px 6px 6px); */
}

.menubox{
  /* border: 1px solid black; */
  border-radius: 20px;
  height: 410px;
  
}

.submenu{
  text-align: right;

}

.mybox{
  width: 100%;
  height: 800px;
  /* border: 1px solid black; */
  border-radius: 20px;
  margin-left: 100px;
  display: flex;
  
}



.myloginbox{
  width: 800px;
  height: 400px;
  border: 1px solid #137d34;
  border-radius: 20px;
}

.text-bold{
  font-weight: bold !important;
}

.mypage_total{
  display: flex;
  align-items: center;
  margin-top: 38px;
  margin-bottom: 50px;
  margin-left: 100px; 
}

.myname{
  margin-left: 50px;
  margin-top: 30px;
}

.my_profile_icon img{
  width: 100px;
  height: 100px;
}
 
.my_profile_btn{
  margin-left: 10px;
} 

.mypage_bottom{
  display: flex;
  /* align-items: stretch; */
  background-color: #F5F5F5;
  width: 100%;
  height: 150px;
  align-self: flex-end;
  border-radius: 0 0 20px 20px;
}

.my_page_summary1{
  width: 50%;
  /* border: 1px solid black; */
  border-style: none dotted none none ;
  border-radius: 0 0 0 20px;
  border-right-color: gray;
  border-width: 1px;
  display: flex;
  justify-content: center;
}

.my_page_summary1 button{
  border-style: none;
}

.my_page_summary2{
  width: 399px;
  border-radius: 0px 0 20px 0; 
  margin-top: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.mycommandbox{
 width: 500px;
 height: 730px;
 border: 1px solid #137d34;
  border-radius: 20px;
  margin-left: 50px;
}




/* .b{
  background-color: #CDEDD7;
  width: 800px;
   height: 100%; 
} */



.updateBtn{
  width: 100px;
  height: 40px;
  border-radius: 20px;
  flex-direction: column;
}

.myloginbox p{
  font-size: 20px;
}

/* .mybox1{
 width: 375px;
 height: 300px;
 border: 1px solid black;
 border-radius: 20px;
 background-color: #fdfdfd;
} */

.mycommandbox img{
  width: 70px;
  height: 70px;
  margin-left: 30px;
  margin-top: 30px;
}

.mybox2{
  width: 375px;
  height: 300px;
  border: 1px solid black;
  border-radius: 20px;
  margin-left: 50px;
  background-color: #fdfdfd;
}

.mybox2 img{
  width: 70px;
  height: 70px;
  margin-left: 30px;
  margin-top: 20px;
}


.history strong{
  margin-top: 100px;
  margin-left: 100px;
}

hr{
  width: 150px;
  display: flex;
}

/* .mylink{
  text-align: center;
} */