.Secu-container{
  width: 1500px;
  height: 100%;
  font-family: 'Nanum Gothic', sans-serif;
  display: flex;
  margin-bottom: 100px;
  justify-content: center;
} 

.Secu-rightbox{
  width: 1000px;
  height: 100%;
  /* border: 1px solid black; */
  margin: 20px 0px 100px 100px;
} 

.Secu-img img{
  width: 700px;
  margin: 40px 0 0 150px;
}

.Secu-box{
  display: flex;
  padding: 30px;
  text-align: center;
}

.Secu-box img{
  margin: 20px 0 30px 0;
}

.box1{
  width: 300px;
  height: 500px;
  /* border: 1px solid black; */
  background-color: #CDEDD7;
  border-radius: 10px;
}

.box1 p{
  margin-top: 20px;
}

.box2{
  width: 300px;
  height: 500px;
  /* border: 1px solid black; */
  margin-left: 20px;
  background-color: #CDEDD7;
  border-radius: 10px;
}

.box2 p{
  margin-top: 20px;
}

.box3{
  width: 300px;
  height: 500px;
  /* border: 1px solid black; */
  margin-left: 20px;
  background-color: #CDEDD7;
  border-radius: 10px;
}

.box3 p{
  margin-top: 20px;
}

/* .cops{
  width: 1000px;
  display: flex;
  margin-top: 40px;
  
}

.cops-box{
  width: 250px;
  height: 250px;
  border: 1px solid black;
  margin-right: 10px;
}

.cops-box img{
  margin: 30px 0 0 70px;
  width: 100px;
  height: 100px;
}

.cops-box h5{
  margin: 10px 0 0 85px;
}

.police-img{
  margin-right: 10px;
} */