.Signup {
  width: 80%;
  border-radius: 30px;
  /* background-color: #CDEDD7; */
}

.proper{ 
  color: #137d34;
  font-size: 0.75rem;
  /* text-align: left; */
}

.error {
  color: #ba5856; /* #c4188e, #7d3313, #7d135c #CDEDD7 */
  font-size: 0.75rem;
  /* text-align: left; */
}

.Signup .col {
  padding: 0 !important;
}

.Signup .accordion-body {
  text-align: left;
}

.Signup .accordion {
  margin: auto;
  width: 760px;
}