@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');
/* font-family: 'Nanum Gothic', sans-serif; */
/* background-color: #137d34; */
/* background-color: #CDEDD7; */
*{
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  /* border: 1px solid; */
}

a {
  color: black;
  text-decoration: none;
}

.App {
  background: #CDEDD7;
}

.App .main {
  background: white;
  width: 1600px;
  padding-top: calc(120px + 3rem);
  /* margin-top: 100px; */
  padding-bottom: calc(3rem);
  min-height: calc(100vh);
  width: 1600px;
  /* min-height: calc(100vh - 300px); */
}

.header-btn {
  width: 105px;
}

.form-control:focus, .form-check-input:focus, .form-select:focus, .accordion-button:focus {
  border: 1px solid #137d34;
  box-shadow: 0 0 0.25rem 0.25rem #CDEDD7;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ddd;
}
th, .accordion-button:not(.collapsed) {
  background-color: #CDEDD7;
}

.fontColor1 {
  color: #137d34;
}
.fontColor2 {
  color: #CDEDD7;
}

.borderColor1 {
  border: 1px solid #137d34;
}

input {
  accent-color: #137d34;
}

.accordion-body {
  text-align: left;
  background: white;
}